services:
  rabbit:
    image: rabbitmq:management
    container_name: lab-rabbit-container
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin123
    ports:
      - "5672:5672"
      - "15672:15672"
    hostname: rabbitmq